@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEST GRUPOS FORTES</h1>
    <p class="lead">O projeto deverá ter no mínimo essas três entidades: Fornecedor, Produto, Pedidos;
                    A entidade Fornecedor deverá ter no mínimo 5 propriedades: Razão Social, CNPJ, UF, Email Contato e Nome Contato;
                    A entidade Produto deverá ter no mínimo 4 propriedades: Código, Descrição, Data do Cadastro, Valor do Produto;
                    A entidade Pedido deverá ter no mínimo 6 propriedades: Código do pedido, Data do pedido, Produto, Quantidade de Produtos, Fornecedor, Valor Total do Pedido;
                    CRUD de Fornecedor, Produto, Pedidos;
                    Listagem dos pedidos por Fornecedor mostrando o valor total do pedido;</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

