@{
    ViewBag.Title = "Home Page";
}


<div class="banner">
    <div class="container">
        <h3>Produtos Eletrônicos, <span>Ofertas de Produtos</span></h3>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="agileinfo_banner_bottom1_grids">
        <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
            <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
            <a href="#">Shop Now</a>
        </div>
        <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
            <h4>hot deal</h4>
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
            <script src="~/Content/livrarias/js/jquery.countdown.js"></script>
            <script src="~/Content/livrarias/js/script.js"></script>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>



<!-- //new-products -->
<!-- top-brands -->

<!-- //top-brands -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Boletim de Notícias</h3>
            <p>Deixe seu e-mail e nós lhe enviaremos novidades</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

